@model TrolleyTracker.Models.Route

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div style="background-color:red; color:white">
    @ViewBag.ErrorMessage
</div>

@using (Html.BeginForm("Create", "Routes", FormMethod.Post, new { id = "frmCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Route</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LongName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LongName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LongName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteColorRGB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteColorRGB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RouteColorRGB, "", new { @class = "text-danger" })
                <div id="colorpicker"></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlagStopsOnly, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FlagStopsOnly, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FlagStopsOnly, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="UploadAlso" id="UploadAlso" value="" />
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create" id ="btnCreate" onclick="SaveFormData('');" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Create and Upload KML Route Path" id="btnCreateUpload" onclick="SaveFormData('yes');" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>

        function SaveFormData(uploadAlso) {

            var routeID = $("#ShortName").val();
            if (routeID == '') {
                alert('Please enter a short name');
                $("#ShortName").focus();
                return;
            }

            var routeID = $("#LongName").val();
            if (routeID == '') {
                alert('Please enter a long name');
                $("#LongName").focus();
                return;
            }

            var routeID = $("#Description").val();
            if (routeID == '') {
                alert('Please enter a description');
                $("#Description").focus();
                return;
            }

            $("#UploadAlso").val(uploadAlso);

            $("#frmCreate").submit();
        }


    $(document).ready(function () {
        $('#colorpicker').farbtastic('#RouteColorRGB');
    });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
