@using Microsoft.AspNet.Identity
@{
    var returnUrl = string.IsNullOrEmpty(ViewBag.ReturnUrl) ? Request.RawUrl : ViewBag.ReturnUrl;
}
<div class="collapse navbar-collapse navbar-ex1-collapse hidden-print">
    <div class="pull-right">
        <ul class="nav navbar-nav navbar-right">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                @Html.AntiForgeryToken()

                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }
            }
            else
            {
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Trolleys
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Trolleys", "Index", "Trolleys")</li>
                <li>@Html.ActionLink("Stops", "Index", "Stops")</li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Routes
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Routes", "Index", "Routes")</li>
                <li>@Html.ActionLink("Route Schedules", "Index", "RouteSchedules")</li>
                @if (User.IsInRole("Administrators"))
                {
                    <li>@Html.ActionLink("Route Shape Upload", "Create", "BulkUploadShapes")</li>
                    <li>@Html.ActionLink("Bulk Stop Upload", "Create", "BulkUploadStops")</li>
                }
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Database
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("DB Visualizer", "Index", "DBVisualizer")</li>
                @if (User.IsInRole("Administrators")) 
                {
                    <li>
                        @Html.ActionLink("Role Manager", "Index", "Roles")
                    </li>
                }
            </ul>
        </li>


    </ul>
</div>