@model IEnumerable<TrolleyTracker.Models.Trolley>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrolleyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IconColorRGB)
        </th>
        <th>Color</th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastBeaconTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrolleyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IconColorRGB)
        </td>
        <td width="10" style="background-color:  @Html.DisplayFor(modelItem => item.IconColorRGB)">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastBeaconTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
