@model TrolleyTracker.Models.RouteSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RouteSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DayOfWeek)*@
            @ViewBag.StrWeekday
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            <!-- Html.DisplayFor(model => model.StartTime) -->
            @Html.DisplayFor(m => m.StartTime, "FormatDateTimeOnly")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(m => m.EndTime, "FormatDateTimeOnly")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.ShortName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
